.project {
  height: auto;
  /* padding: 2em; */
  /* margin: 0 auto; */
  margin: 0;
  text-align: center;
  border-radius: 15px;
  overflow: auto;
  box-shadow: var(--shadow);
  transition: box-shadow 0.3s linear;
}

.project:hover {
  /* transform: translateY(-7px); */
  /* box-shadow: var(--shadow); */
}

.project__layout {
  display: flex;
}

.project__image {
  flex: 1;
  /* width: 50%; */
  width: 550px;
}

.project__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}

.link--casestudy {
  /* width: 100px; */
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
}

.casestudy--button {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--clr-primary);
  color: #fff;
  cursor: pointer;
  height: 64px;
  padding: 12px 24px;
  border-radius: 48px;
  box-shadow: var(--shadow);
  transition: box-shadow 0.3s linear;
}

.casestudy--button:hover {
  box-shadow: var(--shadow);
}

.project-textbox {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 2rem 0;
}

.project-skill {
  color: rgb(95, 95, 95);
  font-size: 1.5rem;
}

.project-name {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3rem;
}

.project-intro {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (max-width: 913px) {
  .project__image {
    width: 85vw;
  }
  .project__layout {
    flex-direction: column;
  }
  .project-textbox {
    gap: 0;
  }
  .casestudy--button {
    margin-top: 2rem;
  }
}
