.about {
  flex-direction: column;
  margin-top: 3em;
  scroll-margin-top: 150px;
}

.about h1 {
  font-size: 36px;
}

.about__intro {
  margin-top: 6rem;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 12px;
  font-size: 24px;
}

.about__desc {
  font-size: 20px;
  max-width: 800px;
  text-align: center;
}

.about__desc,
.about__contact {
  margin-top: 4rem;
}

.about__contact {
  gap: 20px;
  margin-top: 4rem;
}

.about .link--icon {
  margin-right: 0.8em;
}

.link--icon svg {
  font-size: 2rem;
}

.about .btn--outline {
  margin-right: 1em;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
