.about {
  flex-direction: column;
  margin-top: 3em;
  scroll-margin-top: 150px;
  width: 80%;
}

.about-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
}

.about-desc {
  flex: 3;
}

.about-container {
  width: 100%;
}

.about h1 {
  font-size: 3rem;
}

.about__intro {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 4rem;
  width: 100%;
  text-align: left;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 12px;
  font-size: 24px;
}

.about__desc {
  font-size: 1.6rem;
  max-width: 800px;
  text-align: left;
}

.about__contact {
  margin-top: 2rem;
  width: 100%;
}

.about__desc {
  margin-top: 2rem;
}

.about__contact {
  gap: 20px;
}

.about .link--icon {
  margin-right: 0.8em;
}

.link--icon svg {
  font-size: 2rem;
}

.about .btn--outline {
  margin-right: 1em;
}

.dp-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 200px;
  padding: 2rem;
  margin-right: 2rem;

}

.profile-pic {
  width: 100%;
  border-radius: 50%;
  margin-top: 5rem;
}

@media (max-width: 600px) {
  .app .about {
    align-items: center;
    margin-top: 2em;
  }
}
