.casestudy {
  /* max-width: 1142px; */
  max-width: 65vw;
}

.banner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image {
  width: 114.712%;
}

.project-overview {
  margin-top: 9rem;
}

.overview-heading {
  font-size: 3rem;
  text-align: center;
}

.overview-subheading {
  font-size: 2rem;
  margin-top: 7rem;
}

.overview-desc {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.statement-specs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 73.33px;
  margin-top: 6rem;
}

.specs {
  flex: 1 1 0px;
  font-size: 1.5rem;
}

.specs p {
  margin-top: 1rem;
}

.survey-box {
  display: flex;
  justify-content: center;
}

.survey-image {
  width: 90%;
}

.insights-heading,
.empathy-heading {
  font-size: 3rem;
}

.hypothesis,
.survey-heading,
.user-interview,
.insights-subheading,
.insights-quote,
.map-heading,
.persona-heading,
.journey-heading,
.info-arch-heading,
.sitemap-heading,
.wire-heading,
.user-interface,
.deliverables,
.learnings-heading {
  font-size: 2rem;
}

.background-subheading {
  font-size: 2rem;
}

.insight-heading,
.ui-heading,
.colors-heading,
.spacing-grid {
  font-size: 1.5rem;
}

.bg-desc,
.survey-details,
.interview-desc,
.interview-heading,
.heading-desc,
.insight-desc,
.info-arch-desc,
.ui-desc,
.spacing-desc,
.deliverables-desc,
.learning-desc {
  font-size: 1.5rem;
}

.insight-num {
  font-size: 1.5rem;
}

.background-heading,
.research-heading,
.concept-heading,
.design-heading,
.summary-heading,
.casestudy-end {
  font-size: 3rem;
  text-align: center;
  margin-top: 12rem;
}

.bg-desc,
.survey-details,
.interview-desc,
.heading-desc,
.insight,
.insight-heading,
.insight-desc,
.empathy-map-img,
.persona-img,
.journey-map-img,
.info-arch-desc,
.ui-desc,
.spacing-desc,
.deliverables-desc {
  margin-top: 2rem;
}

.colors-subheading {
  margin-top: 2.5rem;
  font-size: 1.5rem;
}

.style-box {
  margin-top: 3rem;
}

.survey-image,
.interview-heading,
.info-arch-img,
.paper-wireframes-imgs,
.lowfide-imgs1,
.midFideImg {
  margin-top: 4rem;
}

.ui-heading {
  margin-top: 6rem;
}

.spacing-grid {
  margin-top: 3.5rem;
}

.user-interview,
.user-persona,
.user-journey,
.sitemap,
.style-guide,
.learnings-heading {
  margin-top: 6rem;
}

.hypothesis,
.why,
.business,
.survey-heading,
.insights-subheading,
.map-heading,
.info-arch,
.user-interface,
.deliverables {
  margin-top: 4rem;
}

.insights,
.building-empathy {
  margin-top: 7rem;
  /* background-color: #D7E9F7; */
  /* width: 100vw; */
}

.wire-heading {
  margin-top: 6rem;
}

.insights-subheading {
  margin-bottom: 3rem;
}

.user-inter-heading {
  font-size: 2rem;
}

/* .insights { */
/* background-color: #D7E9F7; */
/* margin-right: 20%; */
/* max-width: 100%; */
/* padding: 5rem 20rem; */
/* padding: 5rem 20rem; */
/* position: relative; */
/* margin-left: calc(-50vw + 49%); */
/* margin-left: -50vw;
    margin-right: -50vw;
    left: 49%;
    right: 49%; */
/* } */

/* .insights-box {
  background-color: #D7E9F7;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
    margin-right: -50vw;
    left: 49%;
    right: 49%;
} */
.insights {
  /* background-color: #d7e9f7; */
  /* margin-right: 20%; */
  max-width: 100%;
  /* padding: 5rem 20rem; */
  padding: 5vw 17.5vw;
  /* position: relative; */
  /* margin-left: calc(-50vw + 49%); */
  /* margin-left: -50vw;
    margin-right: -50vw;
    left: 49%;
    right: 49%; */
}

.insights-box {
  /* background-color: #d7e9f7; */
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-right: -50vw;
  left: 49%;
  right: 49%;
}

.insight {
  padding: 48px 36px;
  border-radius: 24px;
  background-color: #fff;
}

.insights-heading {
  text-align: center;
}

.insight {
  box-shadow: var(--shadow);
}

.insights-quote {
  margin-top: 8rem;
  text-align: center;
  margin-bottom: 2rem;
}

.empathy-heading {
  text-align: center;
}

/* .survey-image, */
.empathy-map-img,
.persona-img,
.journey-map-img,
.info-arch-img,
.midFideImg {
  width: 100%;
}

.paper-wireframes-imgs {
  display: flex;
  gap: 63px;
}

.paper-img {
  width: 178px;
}

.lowfide-imgs1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 169px;
  row-gap: 72px;
}

.lowfide1-img {
  width: 268px;
}

.lowfide-imgs2 {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 169px;
  row-gap: 72px; */
  display: flex;
  justify-content: center;
}

.lowfide2-img {
  width: 268px;
}

.lowfide2-single {
  width: 104%;
}

.ui-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8rem;
  row-gap: 72px;
  margin-top: 3rem;
}

.ui-img {
  width: 268px;
}

.ui-images2 {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.ui-img2:first-child {
  width: 60%;
}
.ui-img2:nth-child(2) {
  width: 34.3%;
}

.style-box {
}

.typography,
.colors {
  flex: 1 1 0px;
}

.learnings-heading {
  margin-bottom: 36px;
}

.style-guide-img {
  width: 80%;
}

.bus-op-img {
  width: 80%;
  margin-top: 2rem;
}

.bus-op-box {
  display: flex;
  justify-content: center;
}

.learnings li {
  list-style-type: disc;
}

.learning-desc-heading {
  text-decoration: underline;
  font-weight: 700;
}

.prototype-heading {
  font-size: 3rem;
  text-align: center;
  margin-top: 12rem;
}

.figma-embed {
  width: 100%;
}

@media screen and (max-width: 913px) {
  .statement-specs,
  .lowfide-imgs1,
  .lowfide-imgs2,
  .paper-wireframes-imgs {
    flex-wrap: wrap;
  }

  .lowfide-imgs1 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 169px;
    row-gap: 72px;
  }

  .lowfide1-img {
    width: 268px;
  }

  .lowfide-imgs2 {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 169px;
    row-gap: 72px;
  }

  .lowfide2-img {
    width: 268px;
  }

  .insight {
    padding: 2rem 2rem;
    border-radius: 24px;
    background-color: #fff;
  }

  .insights {
    padding: 8vw 3vw;
  }

  .casestudy {
    max-width: 85vw;
  }

  .style-guide-img {
    width: 100%;
  }

  .ui-images2 {
    flex-wrap: wrap;
  }

  .ui-img2:first-child {
    width: 100%;
  }
  .ui-img2:nth-child(2) {
    width: 100%;
  }
}
